<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name%>'>

  <div id="banner">
    <a href="/"><%= image_tag("logo.png") %></a>
    <%= @page_title || "Bookstore Online" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= render @cart %> 
      </div> 

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/question">Questions</a></li>
        <li><a href="/news">News</a></li> 
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul>
        <li><a href="/search">Search</a></li>
      </ul>
      <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders', orders_path %></li> 
          <li><%= link_to 'Products', products_path %></li> 
          <li><%= link_to 'Users', users_path %></li>
        </ul>
      <% end %>
      <ul>
        <li><a href="/login">Login</a></li> 
        <% if session[:user_id] %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
      </ul>

    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
